.jumbotron {
    height: 25rem;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @media only screen and (max-device-width: 1366px) {
    .jumbotron {
      background-attachment: scroll;
    }
  }
  
  @media only screen and (max-width: 850px) {
    .jumbotron {
      height: 25rem;
     }
  }

  .antartica {
    background-image: url("../img/antartica/antarctida-um.jpg");
  }


  @media only screen and (max-width: 850px) {
    .cartazChico {
      width: 25rem;
     }
  }

.chico {
  background-image: url("../img/5xchicobg.png");
}



/*Pantanal design*/
.pantanal {
  background-image: url("../img/pantanal/sol.jpg");
}

.tituloPantanalDiv {
    margin-top: 50px;
    width: none;
    background-color: rgba(226, 227, 231, 0.68);
  }

.subTituloDiv {
    width: none;
    background-color: rgba(226, 227, 231, 0.68);
  }
  
  .subTitulo {
    text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
    color: rgb(229, 108, 11);
  }

  @media only screen and (max-width: 600px) {
    .tituloPantanal {
      font-size: 2.5rem;
    }
    .tituloPantanalDiv {
      margin-top: 90px;
      width: none;
      background-color: rgba(226, 227, 231, 0.68);
    }
  }

/* end Pantanal design*/


.sudoeste {
    background-image: url("../img/sudoeste-02.jpg");
}

.unicornio{
    background-image:  url("../img/unicornio/unicornio_f05cor_2017131917.jpg");
}

.carnaval{
  background-image:  url("../img/Captura\ de\ Tela\ 2020-05-20\ às\ 14.46.27.png");
}

.derrapada {
  background-image:  url("../img/mail.jpg");
}

.infancias {
  background-image:  url("../img/outrasinfancias.jpg");
}

.certoAlguem {
  background-image:  url("../img/quandoumcertoalguem2.jpg");
}

.macumbaria {
  background-image:  url("../img/macumbaria.jpg");
}

.amazonia {
  background-image:  url("../img/amazoniazul.PNG");
}

.ernesto {
  background-image:  url("../img/Série\ Ernesto\ 03.jpg");
}

.tituloDiv {
  margin-top: 80px;
  width: none;
  background-color: rgba(226, 227, 231, 0.68);
}

.tituloProdutora, .tituloPantanal {
  font-weight: 500;
  font-size: 4rem;
  text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  color: rgb(229, 108, 11);
}

@media only screen and (max-width: 600px) {
  .tituloProdutora {
    font-size: 2rem;
  }
  .tituloDiv {
    margin-top: 160px;
    width: none;
    background-color: rgba(226, 227, 231, 0.68);
  }
}
.css-typing h1 {
  color: rgb(229, 108, 11);
  border-right: solid rgb(229, 108, 11);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing h1:nth-child(1) {
  width: 9.4em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h2 {
  color: rgb(229, 108, 11);
  border-right: solid rgb(229, 108, 11);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing h2:nth-child(1) {
  width: 14.4em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: solid rgba(255, 255, 255);
    text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  }
  100% {
    border: none;
    text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  }
}

.embed-responsive-item {
  width: 20rem;

}

@media only screen and (max-width: 769px) {
  .mediaQ {
    padding: 1.1rem 1.5rem;
  }
}
