.jumbotron {

    background-image: url("../img/364c21eb-3212-4930-ba04-7d94846af184.jpg");
    height: 25rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.tituloDiv {
    margin-top: 80px;
    width: none;
    background-color: rgba(226,227,231,0.68) ;
}

.tituloProdutora {
    font-family: 'JetBrains Mono', monospace;
    font-size:4rem;
    text-shadow: 6px -1px 16px rgba(255,255,255,0.68);
    color:rgb(229, 108, 11);
  }
  .css-typing h1 {
    color: rgb(229, 108, 11);
    border-right: solid rgb(229, 108, 11);
    white-space: nowrap;
    overflow: hidden; 
  }
  
  .css-typing h1:nth-child(1) {
    width: 9.4em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: solid rgba(255,255,255);
      text-shadow: 6px -1px 16px rgba(255,255,255,0.68);;
    }
    100% {
      border: none;
      text-shadow: 6px -1px 16px rgba(255,255,255,0.68);
    }
  }
  

  .osQuatro {
      background-color: rgb(183, 202, 217, 0.5);
  }

  img {
      border-radius: 150px;
  }