.jumbotron {
  background-image: url("../img/364c21eb-3212-4930-ba04-7d94846af184.jpg");
  height: 30rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-wrap {
  background-color: rgb(82%, 85%, 90%);
}

.produtora {
  margin-top: -2em;
  background-color: white;
  color: white;
  clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 100%);
  padding: 0 7% 7rem 7%;
}
@media only screen and (max-width: 850px) {
  .produtora {
    margin-top: -2em;
    background-color: white;
    color: white;
    clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
    padding: 0 10% 6rem 10%;
  }
}
.tituloDiv {
  margin-top: 100px;
  width: none;
  background-color: rgba(226, 227, 231, 0.68);
}

.tituloProdutora {
  font-weight: 500;
  font-size: 4rem;
  text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  color: rgb(229, 108, 11);
}

@media only screen and (max-width: 600px) {
  .tituloProdutora {
    font-size: 2.5rem;
  }
  .tituloDiv {
    margin-top: 200px;
    width: none;
    background-color: rgba(226, 227, 231, 0.68);
  }
}
.css-typing h1 {
  color: rgb(229, 108, 11);
  border-right: solid rgb(229, 108, 11);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing h1:nth-child(1) {
  width: 9.4em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: solid rgba(255, 255, 255);
    text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  }
  100% {
    border: none;
    text-shadow: 6px -1px 16px rgba(255, 255, 255, 0.68);
  }
}
.team-boxed {
  color: #313437;
}

.team-boxed p {
  font-size: 1.03rem;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;

  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
  }
}

.team-boxed .intro {
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.box {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(97%, 98%, 98%);
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item img {
  max-width: 180px;
}

.textoSocios {
  padding: 0 30px;
}

.myBtn {
  padding: 0.5rem;
  font-size: 0.9rem;
  color: rgb(35, 31, 32);
  background-color: none;
}

.myBtn:hover {
  background-color: #cb4600;
}
