@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cb4600;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1.8em;
}

h2 {
  font-size: 2.25em;
}

p {
  color: #231f20;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: -0.003em;
  line-height: 32px;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
}

/*General media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 1em;
  }
}

/*Site Wrap*/
.site-wrap {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.site-wrap:before {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

/*END Site Wrap*/
/*Navbar*/
.navbar {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #fff;
  font-weight: 500;
  margin-right: 1.5em;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #cb4600;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #000;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #cb4600;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #cb4600;
}

.logoNav {
  width: 8rem;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #555;
    margin-bottom: px;
  }
}

.nav-link:hover,
.dropdown-item:hover {
  color: #cb4600;
}

.botaoNav {
  background-color: #cb4600;
  color: #f8f9fa;
}

.botaoNav:hover {
  background-color: #a8430c;
  color: #f8f9fa;
}

/*End Navbar*/

/*footer desgin*/
.divDaLogo {
  width: 3rem;
}
.logoVertical {
  width: 2.7rem;
  padding: 0;
}
.footerParagrafo{
  color: #f8f9fa;
  font-size: 1rem;
}
.fab {
  color:#cb4600;
  padding: 0.5rem;
}
/*end footer desgin*/
/*# sourceMappingURL=style.css.map */
