@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');;

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
  font-weight: 500;
}

body {
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h4, h4 {
  color:#cb4600;
}

p {
  color:#4d4d4d;
}


/*Site Wrap*/
.site-wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff; }
  .site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden; }
  .offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

/*END Site Wrap*/

/*Navbar*/

.nav-link, .dropdown-item {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  margin-right: 7px;
  color:#4d4d4d;
}
.logoNav {
    max-width: 10rem;
}

.nav-link:hover, .dropdown-item:hover {
  color: #cb4600;
}

.botaoNav {
  background-color:#cb4600;
    font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #f8f9fa;
}

/*End Navbar*/

/*HERO Carousel*/

.view {
  max-height: 25rem;
} 

.carousel-caption {
  margin-bottom: 80px;
}

/*END HERO Carousel*/

/*HERO TYPO*/

.title {
  font-family: 'JetBrains Mono', monospace;
  font-size:4rem;
  text-shadow: 6px -1px 16px rgba(255,255,255,0.68);
  color:rgba(255,255,255);
}

.css-typing h2 {
  color:rgba(255,255,255);
  border-right: solid rgba(255,255,255,0.68);
  white-space: nowrap;
  overflow: hidden; 
}

.css-typing h2:nth-child(1) {
  width: 9.4em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: solid rgba(255,255,255);
    text-shadow: 6px -1px 16px rgba(255,255,255,0.68);;
  }
  100% {
    border: none;
    text-shadow: 6px -1px 16px rgba(255,255,255,0.68);
  }
}

/*END HERO TYPOS*/

/*HERO media queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title{
    font-size: 2.5rem;
  }
  .carousel-caption{
    margin-bottom: 40px;
  }
  .css-typing h2 {
    font-size: 1.5rem;
  }
}
/*END HERO media querie*/

/*CARDS MAIN PAGE*/

.card {
  
  width: 300px;
  display: inline-flex;
  justify-content: center;
  margin: 1rem;
  padding-top: 15px;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.card:hover, .card.hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-content, .card.hover .card-content {
  box-shadow: inset 0 3px 0 0#cb4600;
  border-color:#cb4600;
}
.card:hover .card-img .overlay, .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  opacity: 1;
}
.card-img {
  position: relative;
  height: 224px;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
  background:#cb4600;
  border-color: #cb4600;
}
.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #E9E9EB;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.card-content a {
  text-decoration: none;
  color: #202927;
}
.card-content h2, .card-content a h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.card-content p, .card-content a p {
  font-size: 1rem;
  font-weight: 500;
}

/*END CARDS MAIN PAGE*/

.pq3tabela {
  max-width: 800px;
  padding: 30px;
}


footer nav {
  background-color: #231f20;
}
footer li {
  color:white;
}